
  .main-div{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-div1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

