<mat-card>Gas Agency ID: {{titleID}}</mat-card>
  <mat-tab-group>
      <mat-tab label="Home">
          <mat-card style="margin-top: 15px"> 
            <mat-list>
                <mat-list-item> District: {{dashboardData.gasAgencyDistrict}} </mat-list-item>
                <mat-list-item> Inventory: {{dashboardData.gasAgencyInventory}}  </mat-list-item>
                <mat-list-item> Last Paid: {{dashboardData.gasAgencyLastPaid}}  </mat-list-item>
                <mat-list-item> Location: {{dashboardData.gasAgencyLocation}}  </mat-list-item>
                <mat-list-item> Orders Placed: {{dashboardData.gasAgencyOrdersPlaced}}  </mat-list-item>
                <mat-list-item> Orders Served: {{dashboardData.gasAgencyOrdersServed}}  </mat-list-item>
                <mat-list-item> Owner: {{dashboardData.gasAgencyOwner}}  </mat-list-item>
                <mat-list-item> Phone No: {{dashboardData.gasAgencyPhoneNumber}}  </mat-list-item>
                <mat-list-item> Pin Code: {{dashboardData.gasAgencyPincode}}  </mat-list-item>
                <mat-list-item> State: {{dashboardData.gasAgencyState}}  </mat-list-item>
            </mat-list>
          </mat-card>
      </mat-tab>