<mat-card>Gas Agency ID: {{titleID}}</mat-card>
<mat-tab-group>
  <mat-tab label="Home">
      <mat-card style="margin-top: 15px"> 
        <mat-list>
            <mat-list-item> District: {{dashboardData.gasAgencyDistrict}} </mat-list-item>
            <mat-list-item> Inventory: {{dashboardData.gasAgencyInventory}}  </mat-list-item>
            <mat-list-item> Last Paid: {{dashboardData.gasAgencyLastPaid}}  </mat-list-item>
            <mat-list-item> Location: {{dashboardData.gasAgencyLocation}}  </mat-list-item>
            <mat-list-item> Orders Placed: {{dashboardData.gasAgencyOrdersPlaced}}  </mat-list-item>
            <mat-list-item> Orders Served: {{dashboardData.gasAgencyOrdersServed}}  </mat-list-item>
            <mat-list-item> Owner: {{dashboardData.gasAgencyOwner}}  </mat-list-item>
            <mat-list-item> Phone No: {{dashboardData.gasAgencyPhoneNumber}}  </mat-list-item>
            <mat-list-item> Pin Code: {{dashboardData.gasAgencyPincode}}  </mat-list-item>
            <mat-list-item> State: {{dashboardData.gasAgencyState}}  </mat-list-item>
        </mat-list>
      </mat-card>
  </mat-tab>
  
  <mat-tab label="Place Order">  
    <mat-card style="margin-top: 15px">           
        <form [formGroup]="placeOrderForm" (ngSubmit)="onSubmitOrder()">
          <h3>Place Order</h3>
            <mat-dialog-content>
                  <p>  
                      <mat-form-field>
                        <label>Aadhar No</label>
                          <input matInput type="text" formControlName="customerAadhar" class="form-control" [ngClass]="{ 'is-invalid': submitted && h.customerAadhar.errors }" />
                      </mat-form-field>
                  </p>
                        <div *ngIf="submitted && h.customerAadhar.errors" class="invalid-feedback">
                          <div *ngIf="h.customerAadhar.errors.required">Aadhar Card Number is required</div>
                          <div *ngIf="h.customerAadhar.errors.minlength">Aadhar Card Number should be 12 digits long</div>
                          <div *ngIf="h.customerAadhar.errors.maxlength">Aadhar Card Number should be 12 digits long</div>
                          <div *ngIf="h.customerAadhar.errors.pattern">Aadhar Card Number should contain only numeric digits</div>
                        </div>                        
                  <p>

                    <p>  
                          <mat-form-field>
                            <label>Gas Agency Registration ID</label>
                              <input matInput type="text" formControlName="placeOrderRegId" class="form-control" [ngClass]="{ 'is-invalid': submitted && h.placeOrderRegId.errors }" />
                          </mat-form-field>
                    </p>
                            <div *ngIf="submitted && h.placeOrderRegId.errors" class="invalid-feedback">
                              <div *ngIf="h.placeOrderRegId.errors.required">Gas Agency ID is required</div>
                              <div *ngIf="h.placeOrderRegId.errors.minlength">Gas gency Reg ID should be 12 digits long</div>
                              <div *ngIf="h.placeOrderRegId.errors.maxlength">Gas gency Reg ID should be 12 digits long</div>
                              <div *ngIf="h.placeOrderRegId.errors.pattern">Gas gency Reg ID should contain only numeric digits</div>
                            </div>                        
                    <p>
                      <button mat-raised-button class="dark">Send OTP</button>
                  </p>
             </mat-dialog-content>

             <form [formGroup]="placeOrderOtpForm" (ngSubmit)="onSubmitPlaceOrderOtp()" *ngIf="displayPlaceOrderOTP">     
                <mat-dialog-content>
                    <p >  
                      <mat-form-field>
                        <label>OTP</label>
                          <input matInput type="text" formControlName="placeOrderOtp" class="form-control" [ngClass]="{ 'is-invalid': submittedOtp && c.placeOrderOtp.errors }" />
                      </mat-form-field>
                    </p>

                    <div *ngIf="wrongOTP">Incorrect OTP entered</div>
    
                    <p>
                        <button mat-raised-button class="dark">Verify OTP</button>
                    </p>
                  </mat-dialog-content>
            </form>
          </form>

          <p>
          <button mat-raised-button color="accent" *ngIf="OTPverified" (click)="placeOrder()">Place Order</button>
          </p>

          <div *ngIf="orderSuccess">
            <span>Order placed successfully!</span>
            <button mat-button (click)="viewOrderDetails()">View Order Details</button>
          </div>

          <div *ngIf="orderFailure">
              <p>There was an error placing your order. Make sure you haven't already placed an order this month</p>
              <button mat-button (click)="viewOrderDetails()">View Order History</button>
          </div>

          <div *ngIf="viewOrderToggle" class="right">
            <mat-card>
            <mat-list>
                <mat-list-item> <b>Aadhar No: </b>{{viewOrderData.aadhaarNo}} </mat-list-item>
                <mat-list-item> <b>Name: </b>{{viewOrderData.beneficiaryFirstName }} {{viewOrderData.beneficiaryLastName}}</mat-list-item>
                <mat-list-item> <b>Address: </b>{{viewOrderData.beneficiaryAddress}} </mat-list-item>
                <mat-list-item> <b>Order History: </b>{{viewOrderData.beneficiaryOrderHistory}} </mat-list-item>
                <mat-list-item> <b>Phone Number: </b>{{viewOrderData.beneficiaryPhoneNumber}} </mat-list-item>
              </mat-list>
            </mat-card>
        </div>
        
      </mat-card>
  </mat-tab>

<mat-tab label="Request and Verify OTP">
    <mat-card style="margin-top: 15px" *ngIf="!displayToggle">  
        <form [formGroup]="requestOtpForm" (ngSubmit)="onSubmitRequestOtp()">
      <h3>Request for OTP</h3>
        <mat-dialog-content>
              <p>  
                  <mat-form-field>
                    <label>Aadhar No</label>
                      <input matInput type="text" formControlName="aadharRequestOtp" class="form-control" [ngClass]="{ 'is-invalid': submittedRequestOTP && g.aadharRequestOtp.errors }" />
                  </mat-form-field>
              </p>
                    <div *ngIf="submittedRequestOtp && g.aadharRequestOtp.errors" class="invalid-feedback">
                      <div *ngIf="g.aadharRequestOtp.errors.required">Aadhar Card Number is required</div>
                      <div *ngIf="g.aadharRequestOtp.errors.minlength">Aadhar Card Number should be 12 digits long</div>
                      <div *ngIf="g.aadharRequestOtp.errors.maxlength">Aadhar Card Number should be 12 digits long</div>
                      <div *ngIf="g.aadharRequestOtp.errors.pattern">Aadhar Card Number should contain only numeric digits</div>
                    </div>                   
              <p>
                  <button mat-raised-button class="dark">Request OTP</button>
              </p>
         </mat-dialog-content>
      </form>
    </mat-card>


    <mat-card style="margin-top: 15px" *ngIf="displayToggle">
    <form [formGroup]="verifyOtpForm" (ngSubmit)="onSubmitVerifyOtp()" *ngIf="displayToggle">
        <h3>OTP Validation</h3>
        <mat-dialog-content>
              <p>  
                  <mat-form-field>
                    <label>Aadhar No</label>
                      <input matInput type="text" formControlName="aadharVerifyOtp" class="form-control" [ngClass]="{ 'is-invalid': submittedVerifyOtp && f.aadharVerifyOtp.errors }" />
                  </mat-form-field>
              </p>
                    <div *ngIf="submittedVerifyOtp && f.aadharVerifyOtp.errors" class="invalid-feedback">
                      <div *ngIf="f.aadharVerifyOtp.errors.required">Aadhar Card Number is required</div>
                      <div *ngIf="f.aadharVerifyOtp.errors.minlength">Aadhar Card Number should be 12 digits long</div>
                      <div *ngIf="f.aadharVerifyOtp.errors.maxlength">Aadhar Card Number should be 12 digits long</div>
                      <div *ngIf="f.aadharVerifyOtp.errors.pattern">Aadhar Card Number should contain only numeric digits</div>
                    </div>

                    <p>  
                        <mat-form-field>
                          <label>Gas Agency Registration ID</label>
                            <input matInput type="text" formControlName="gasAgencyOtp" class="form-control" [ngClass]="{ 'is-invalid': submittedVerifyOtp && f.gasAgencyOtp.errors }" />
                        </mat-form-field>
                    </p>
                          <div *ngIf="submittedVerifyOtp && f.gasAgencyOtp.errors" class="invalid-feedback">
                            <div *ngIf="f.gasAgencyOtp.errors.required">Gas Agency Number is required</div>
                            <div *ngIf="f.gasAgencyOtp.errors.minlength">Gas Agency Number should be 12 digits long</div>
                            <div *ngIf="f.gasAgencyOtp.errors.maxlength">Gas Agency Number should be 12 digits long</div>
                            <div *ngIf="f.gasAgencyOtp.errors.pattern">Gas Agency Number should contain only numeric digits</div>
                          </div>
                  
                    
              <p>
                  <mat-form-field>
                    <label>OTP</label>
                      <input matInput type="text" formControlName="otp" class="form-control" [ngClass]="{ 'is-invalid': submittedVerifyOtp && f.otp.errors }" />
                  </mat-form-field>
              </p>
                    <div *ngIf="submittedVerifyOtp && f.otp.errors" class="invalid-feedback">
                        <div *ngIf="f.otp.errors.required">OTP cannot be blank</div>
                        <div *ngIf="f.otp.errors.minlength">OTP should be 4 digits long</div>
                        <div *ngIf="f.otp.errors.maxlength">OTP should be 4 digits long</div>
                        <div *ngIf="f.otp.errors.pattern">OTP Card Number should contain only numeric digits</div>
                    </div>
                    
              <p>
                  <button mat-raised-button class="dark">Verify OTP</button>
              </p>
              <div *ngIf="notifyGovToggle">
                <p>
                    Order delivery complete. Government Authority notified.
                </p>
              </div>
         </mat-dialog-content>
      </form>
    </mat-card>


  </mat-tab>

  <mat-tab label="Request Funds">
      <mat-card style="margin-top: 15px">           
          <form [formGroup]="requestFundsForm" (ngSubmit)="onSubmitRequestFunds()">
            <h3>Request Funds</h3>
              <mat-dialog-content>
                    <p>  
                        <mat-form-field>
                          <label>Gas Agency Registration ID</label>
                            <input matInput type="text" formControlName="gasAgencyRegistrationId" class="form-control" [ngClass]="{ 'is-invalid': submittedAgencyRegistrationId && e.gasAgencyRegistrationId.errors }" />
                        </mat-form-field>
                    </p>
                          <div *ngIf="submittedAgencyRegistrationId && e.gasAgencyRegistrationId.errors" class="invalid-feedback">
                            <div *ngIf="e.gasAgencyRegistrationId.errors.required">Gas Registration ID is required</div>
                            <div *ngIf="e.gasAgencyRegistrationId.errors.minlength">Gas Registration ID should be 10 digits long</div>
                            <div *ngIf="e.gasAgencyRegistrationId.errors.maxlength">Gas Registration ID should be 10 digits long</div>
                            <div *ngIf="e.gasAgencyRegistrationId.errors.pattern">Gas Registration ID contain only numeric digits</div>
                          </div> 
                          
                          <p>  
                              <mat-form-field>
                                <label>Government Authority ID</label>
                                  <input matInput type="text" formControlName="govAuthorityId" class="form-control" [ngClass]="{ 'is-invalid': submittedAgencyRegistrationId && e.govAuthorityId.errors }" />
                              </mat-form-field>
                          </p>
                                <div *ngIf="submittedAgencyRegistrationId && e.govAuthorityId.errors" class="invalid-feedback">
                                  <div *ngIf="e.govAuthorityId.errors.required">Government Authority ID is required</div>
                                  <div *ngIf="e.govAuthorityId.errors.minlength">Government Authority ID should be 10 digits long</div>
                                  <div *ngIf="e.govAuthorityId.errors.maxlength">Government Authority ID should be 10 digits long</div>
                                  <div *ngIf="e.govAuthorityId.errors.pattern">Government Authority ID contain only numeric digits</div>
                                </div>   
                    <p>
                        <button mat-raised-button class="dark">Request Funds</button>
                    </p>
                      <div *ngIf="requestFundsErrorToggle">
                        <p>Error Requesting Funds. No deficit found.</p>
                      </div>

                      <div *ngIf="requestFundsSuccessToggle">
                          <p>Request for funds made successfully</p>
                        </div>

                      
               </mat-dialog-content>
            </form>
        </mat-card>
    
  </mat-tab>

  <mat-tab label="Update Customer Information">
    <mat-card style="margin-top: 15px" *ngIf="!updateCustomerToggle">           
        <form [formGroup]="updateCustomerInfoForm" (ngSubmit)="onSubmitCustomerInfo()">
          <h3>Update Customer Information</h3>
            <mat-dialog-content>
                  <p>  
                      <mat-form-field>
                        <label>Customer Aadhar No</label>
                          <input matInput type="text" formControlName="updateAadhar" class="form-control" [ngClass]="{ 'is-invalid': submittedUpdateCustomerInfo && d.updateAadhar.errors }" />
                      </mat-form-field>
                  </p>
                        <div *ngIf="submittedUpdateCustomerInfo && d.updateAadhar.errors" class="invalid-feedback">
                          <div *ngIf="d.updateAadhar.errors.required">Aadhar No is required</div>
                          <div *ngIf="d.updateAadhar.errors.minlength">Aadhar card No should be should be 12 digits long</div>
                          <div *ngIf="d.updateAadhar.errors.maxlength">Aadhar Card No should be 10 digits long</div>
                          <div *ngIf="d.updateAadhar.errors.pattern">Aadhar Cards should contain only numeric digits</div>
                        </div>                        
                  <p>
                      <button mat-raised-button class="dark">Update Customer Information</button>
                  </p>
             </mat-dialog-content>
          </form>
      </mat-card>

    <mat-card *ngIf="updateCustomerToggle">
      <mat-list>
            <mat-list-item>
                <p><b>Aadhar No: </b>{{UpdateCustomerInfoData.aadhaarNo}}</p>
              </mat-list-item>
                
              <mat-list-item>
                <p><b>First Name: </b>{{UpdateCustomerInfoData.beneficiaryFirstName}}</p>
              </mat-list-item>
    
              <mat-list-item>
                <p><b>Last Name: </b>{{UpdateCustomerInfoData.beneficiaryLastName}}</p>
              </mat-list-item>           
     </mat-list>
     <form [formGroup]="updateCustomerInfoForm2" (ngSubmit)="onSubmitCustomerInfo2()">
        <p>  
            <mat-form-field>
              <label>Phone Number</label>
                <input matInput type="text" formControlName="updatedPhoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submittedUpdateCustomerInfo2 && i.updatedPhoneNumber.errors }" />
            </mat-form-field>
        </p>
              <div *ngIf="submittedUpdateCustomerInfo2 && i.updatedPhoneNumber.errors" class="invalid-feedback">
                <div *ngIf="e.govAuthorityId.errors.required">Phone No is required</div>
                <div *ngIf="e.govAuthorityId.errors.minlength">Phone No should be 10 digits long</div>
                <div *ngIf="e.govAuthorityId.errors.maxlength">Phone No should be 10 digits long</div>
                <div *ngIf="e.govAuthorityId.errors.pattern">Phone No contain only numeric digits</div>
              </div> 

              <p>  
                  <mat-form-field>
                    <label>State</label>
                      <input matInput type="text" formControlName="updatedState" class="form-control" [ngClass]="{ 'is-invalid': submittedAgencyRegistrationId && i.govAuthorityId.errors }" />
                  </mat-form-field>
              </p>
                    <div *ngIf="submittedAgencyRegistrationId && e.govAuthorityId.errors" class="invalid-feedback">
                      <div *ngIf="i.govAuthorityId.errors.required">Government Authority ID is required</div>
                      <div *ngIf="i.govAuthorityId.errors.minlength">Government Authority ID should be 10 digits long</div>
                      <div *ngIf="i.govAuthorityId.errors.maxlength">Government Authority ID should be 10 digits long</div>
                      <div *ngIf="i.govAuthorityId.errors.pattern">Government Authority ID contain only numeric digits</div>
                    </div> 


                    <p>  
                        <mat-form-field>
                          <label>District</label>
                            <input matInput type="text" formControlName="updatedDistrict" class="form-control" [ngClass]="{ 'is-invalid': submittedUpdateCustomerInfo2 && i.updatedDistrict.errors }" />
                        </mat-form-field>
                    </p>
                          <div *ngIf="submittedUpdateCustomerInfo2 && i.updatedDistrict.errors" class="invalid-feedback">
                            <div *ngIf="i.updatedDistrict.errors.required">District is required</div>
                          </div> 

                          <p>  
                              <mat-form-field>
                                <label>Location</label>
                                  <input matInput type="text" formControlName="updatedLocation" class="form-control" [ngClass]="{ 'is-invalid': submittedUpdateCustomerInfo2 && i.updatedLocation.errors }" />
                              </mat-form-field>
                          </p>
                                <div *ngIf="submittedUpdateCustomerInfo2 && i.updatedLocation.errors" class="invalid-feedback">
                                  <div *ngIf="i.govAuthorityId.errors.required">Location is required</div>
                                </div> 

                                <p>  
                                    <mat-form-field>
                                      <label>Pin Code</label>
                                        <input matInput type="text" formControlName="updatedPincode" class="form-control" [ngClass]="{ 'is-invalid': submittedUpdateCustomerInfo2 && i.updatedPincode.errors }" />
                                    </mat-form-field>
                                </p>
                                      <div *ngIf="submittedUpdateCustomerInfo2 && i.updatedPincode.errors" class="invalid-feedback">
                                        <div *ngIf="i.updatedPincode.errors.required">Pin Code is required</div>
                                      </div>
                                
                                      <p>  
                                          <mat-form-field>
                                            <label>Address</label>
                                              <input matInput type="text" formControlName="updatedAddress" class="form-control" [ngClass]="{ 'is-invalid': submittedUpdateCustomerInfo2 && i.updatedAddress.errors }" />
                                          </mat-form-field>
                                      </p>
                                            <div *ngIf="submittedUpdateCustomerInfo2 && i.updatedAddress.errors" class="invalid-feedback">
                                              <div *ngIf="i.updatedAddress.errors.required">Government Authority ID is required</div>
                                            </div> 

                                            <button mat-raised-button class="dark">Update Customer Information</button>
                                        <div *ngIf= "updateCustomerSuccessToggle">
                                          <p>
                                            Customer Information Updated
                                          </p>
                                        </div>
                                    
                                  
    </form>

    </mat-card>
  
  </mat-tab>
</mat-tab-group>